<!DOCTYPE html>
<html>
  <head>
    <title>Netflix Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <h1>Netflix Search</h1>

    <div class="button-container">
      <button
        type="button"
        id="search-genre-button"
        onclick="toggleSection(this.id)"
      >
        Search by Genre
      </button>
      <button
        type="button"
        id="search-movie-button"
        onclick="toggleSection(this.id)"
      >
        Search by Movie
      </button>
    </div>

    <!-- Genre section initially hidden -->
    <div id="genre-section" class="genre-section">
      <h2>Searching by Genre...</h2>
      <div class="genre-input">
        <p>Please select the genre:</p>
        <select id="genre-dropdown">
          <option value="" disabled selected>Please select the genre</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Horror">Horror</option>
          <option value="Science Fiction">Science Fiction</option>
        </select>
        <button type="button" onclick="searchByGenre()">Search</button>
      </div>
    </div>

    <!-- Search results section -->
    <div id="search-results" class="genre-section">
      <h2>Search Results:</h2>
      <div class="result-container">
        <ul id="result-list"></ul>
      </div>
    </div>

    <!-- Genre section initially hidden -->
    <div id="movie-section" class="movie-section" style="display: none">
      <h2>Searching by Movie...</h2>
      <div class="movie-input">
        <p>Please enter the movie:</p>
        <input type="text" id="movie" placeholder="Enter movie" />
        <button type="button" onclick="searchByMovie()">Search</button>
      </div>
    </div>
  </body>
</html>
